.head-img {
  background-image: url('./../../../public/images/campaign/bg.png');
}

.gradient-text {
  font-size: 40px;
  background: linear-gradient(89.92deg, #ffafaf 33.09%, #d6002d 109.15%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
