#description-data {
  p {
    color: #b8b6cb;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  ul {
    list-style: disc;
    margin-left: 20px;

    li {
      color: #b8b6cb;
      line-height: 25px;
    }
  }
}
